<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pactstart.sms.dao.SmsTemplateMapper">
    <resultMap id="BaseResultMap" type="io.github.pactstart.system.entity.SmsTemplate">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="template_id" jdbcType="VARCHAR" property="templateId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="template" jdbcType="VARCHAR" property="template"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
    </resultMap>
</mapper>