<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pactstart.system.dao.SuggestionMapper">
    <resultMap id="BaseResultMap" type="io.github.pactstart.system.entity.Suggestion">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
        <result column="contact_info" jdbcType="VARCHAR" property="contactInfo"/>
        <result column="problem_type" jdbcType="INTEGER" property="problemType"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="attachs" jdbcType="VARCHAR" property="attachs"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="reply" jdbcType="VARCHAR" property="reply"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, source, member_id, contact_info, problem_type, content, attachs, status, create_time, reply, operator, operate_time
    </sql>

    <select id="query" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM suggestion
        <where>
            <if test="@Ognl@isNotEmpty(contactInfo)">
                AND contact_info like concat('%',#{contactInfo},'%')
            </if>
            <if test="problemType != null">
                AND problem_type = #{problemType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>