<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.pactstart.system.dao.SysLogMapper">
    <resultMap id="BaseResultMap" type="io.github.pactstart.system.entity.SysLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="target_id" jdbcType="INTEGER" property="targetId"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="operate_ip" jdbcType="VARCHAR" property="operateIp"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="io.github.pactstart.system.entity.SysLog" extends="BaseResultMap">
        <result column="old_value" jdbcType="LONGVARCHAR" property="oldValue"/>
        <result column="new_value" jdbcType="LONGVARCHAR" property="newValue"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type, target_id, operator, operate_time, operate_ip, status
    </sql>

    <sql id="Blob_Column_List">
        old_value, new_value
    </sql>

    <select id="query" parameterType="map" resultMap="ResultMapWithBLOBs">
        SELECT<include refid="Base_Column_List"/>,
        <include refid="Blob_Column_List"/>
        FROM sys_log
        <include refid="queryConditions"/>
        ORDER BY operate_time DESC
    </select>

    <sql id="queryConditions">
        <where>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(operator)">
                AND operator like concat('%',#{operator},'%')
            </if>
            <if test="fromTime != null">
                AND operate_time &gt;= #{fromTime}
            </if>
            <if test="toTime != null">
                AND operate_time &lt;= #{toTime}
            </if>
        </where>
    </sql>
</mapper>